modules = ["nodejs-22"]
run = "npm run start"
entrypoint = "app/page.tsx"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "cloudrun"

[env]
NODE_ENV = "production"
PORT = "3000"
